<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedRock CDN Manager</title>
</head>
<body>
<form action="/cdn/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file"/>
    <input type="text" name="ver" id="ver"/>
    <input type="submit" value="OK!"/>


</form>
</body>
</html>