<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedRock CDN Manager</title>
</head>
<body>
<form action="/cdn/upload" method="POST" enctype="multipart/form-data">
    <h1>红岩の网校 CDN 伺服器装置</h1>
    <p>！只能上传 CSS / JS 文件！</p>
    <input type="file" name="files" id="file"/>

    <input type="submit" value="OK!"/>


</form>
<p></p>
<div>By dongtiangche & ZeroLing</div>
</body>
</html>